/* 
 * Assumes that reset.css is already sourced on the page.
 */

body {
  background-color:  #101010;
  color:             #FFFFFF;
  font-family:       monospace;
}

a:link { color: #FFFFFF; }
a:visited { color: #FFFFFF; }
a:hover { color: #37FF00; }

pre {
  margin: 0 auto;
}

.ascii-art {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.news {
  width: 80ex; /* 80 chars */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.links {
  width: 80ex;
  margin-top: 20px;
  line-height: 2em;
  text-align: left;
  margin: auto auto;
}
